@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap");

nav {
  font-family: "Poppins", sans-serif;
  width: 80%;
  margin: auto;
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  div:first-child {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 3rem;
    }
  }
  .navLinks {
    display: flex;
    justify-content: space-between;
    a{
        font-size: 1.6rem;
    }
    a:first-child {
      margin-right: 88px;
    }
  }
}
